{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block monTitre %}{{information.titre}}{% endblock %}

{% block body %}

<div class="container mt-5">
  <div class="col-6 mb-5">
    <div class="row">
      <img src="{{vich_uploader_asset(information,'imageFile')|imagine_filter('thumb')}}" alt="{{information.titre}}">
      <div class="card-body">
        <h5 class="card-title">{{information.titre}}</h5>
        <p class="card-text">{{ information.libelle }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}