{% extends 'base.html.twig' %}

{% block title %}{{categories.libelle}}{% endblock %}

{% block monTitre %}{{categories.libelle}}{% endblock %}

{% block body %}

<div>{{categories.libelle}}</div>
<div class="row">
    {% for information in categories.information %}
    <div class="col-6">
        <div class="row align-items-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{vich_uploader_asset(information,'imageFile')|imagine_filter('thumb')}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{path('afficher_categorie', {'id' : information.id})}}">{{information.titre}}</a></h5>
                  <p class="card-text">{{ information.libelle }}</p>
                </div>
              </div>
        </div>
    </div>
    {% endfor %}
    

{% endblock %}