{% extends 'base.html.twig' %}

{% block title %}Evenements et Actualités{% endblock %}

{% block monTitre %}Evenements et Actualités{% endblock %}

{% block body %}
{% for categorie in categories %}
<h2 class="border-bottom border-primary"><a href="{{path('afficher_categorie', {'id' : categorie.id})}}">{{categorie.libelle|capitalize}}</a></h2>
<div class="row mb-4">
    {% for information in categorie.information %}
    <div class="col-4">
        <div class="row align-items-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{('images/information/' ~ information.image)}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{path('afficher_categorie', {'id' : information.id})}}">{{information.titre}}</a></h5>
                  <p class="card-text">{{ information.libelle }}</p>
                  <a href="#" class="btn btn-primary">{{information.categorie.libelle}}</a>
                </div>
              </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
