{% extends 'base.html.twig' %}

{% block title %}Modif{% endblock %}
{% block monTitre %}
{% if isModification %}
    Modification {{information.titre}}
{% else %}
    Ajout d'une information
{% endif %}
{% endblock %}
{% block body %}
<div class="container">

{{form_start(form)}}
        {{form_widget(form)}}
        <a href="{{path('admin')}}" class="btn btn-primary">Retour</a>
        <input type="submit" value="valider" class="btn btn-success">
{{form_end(form)}}


</div>
{% endblock %}
