{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block monTitre %}Liste des Evénements et des Actualités{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center mb-5 mt-5">
    <a class="btn btn-success w-100" href="{{path('creationInfo')}}">Ajouter</a>
</div>
<div class="container ">
    <div class="row">
        {% for information in informations %}
        <div class="col-6 mb-5  d-flex justify-content-center">
            <div class="row text-center">
                <div class="card">
                    <img class="card-img-top"
                        src="{{vich_uploader_asset(information,'imageFile')|imagine_filter('thumb')}}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{information.titre}}</h5>
                        <p class="card-text text-truncate">{{ information.libelle }}</p>
                        <div class="row no-gutters">
                            <a href="{{path('admin_modif', {'id' : information.id})}}"
                                class="col btn btn-primary">Modifier</a>
                            <form action="{{path('supInfo', {'id' : information.id})}}" method="POST" class="col"
                                onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
                                <input type="hidden" name="_method" value="SUP">
                                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ information.id)}}">
                                <input type="submit" class="btn btn-danger w-100" value="supprimer">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="navigation">
    {{ knp_pagination_render(informations) }}
</div>


{% endblock %}