{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}




{% block body %}
{% for message in app.flashes('email') %}
    <div class="flash-email bg-success text-center">
        {{ message }}
    </div>
{% endfor %}
<div class="container mb-4 mt-4 ctn-txt">
  <h2 class="text-center mt-5 mb-5">Découvrez les 4 dernières Actus et Événements:</h2>
  <section class="container mb-5">
  
  
        <!--Part Event Actu-->
          <div class="row">
          {% for information in informations %}
            <div class="col-md-6 d-flex justify-content-center">
              <div class="card mb-4 ml-1 ">
                <img class="card-img-top" src="{{vich_uploader_asset(information,'imageFile')|imagine_filter('thumb')}}"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">{{information.titre}}</h4>
                  <p>Créé le {{ information.createdAt|date('d/m/y')}}</p>
                  <p class="card-text text-truncate">{{information.libelle}}</p>
                  <p class="card-text">{{information.date}}</p>
                  
                  <a class="btn btn-primary"href="{{path('afficher_info', {'id' : information.id})}}">En savoir plus</a>
                </div>
              </div>
            </div>
            {% endfor %}
      </div>
  
  </section>
  
  
  <h1 class="text-center">Météo du jour:</h1>
  <section id="weathers" class="container ">
    
    <h1>
      Village
    </h1>
    <i class="wi"></i>
    <h2>
      <span class="weatherDescription"></span>
    </h2>
    <h2>
      <span class="weather"></span> C°
    </h2>
  </section>

</div>

{% endblock %}

