{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}Bienvenue sur le site du Village{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for information in informations %}
        <div class="card ml-5 mb-5" style="width: 450px; height: 650px;">
            <img class="card-img-top" src="{{vich_uploader_asset(information,'imageFile')|imagine_filter('thumb')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{information.titre}}</h5>
              <p class="card-text">{{information.libelle}}</p>
              <p class="card-text">{{information.date}}</p>
              
              <a href="{{path('afficher_categorie', {'id' : information.id})}}" class="btn btn-primary">{{information.categorie.libelle}}</a>
              
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="navigation">
      {{ knp_pagination_render(informations) }}
  </div>
  </div>
{% endblock %}
